.bundle/
log/*.log
pkg/
test/dummy/db/*.sqlite3
test/dummy/log/*.log
test/dummy/tmp/
test/dummy/.sass-cache
locale/*/*.edit.po
locale/*/*.po.time_stamp
locale/*/*.pox
locale/action_names.rb

node_modules/*
coverage/*
package-lock.json
Gemfile.lock
